<h1>Ativar Usuário</h1> 

<% form_for @user, :url => active_user_path, :method => :put do |f| %>
  
	<p>  
	  Login<br>
	  <%= @user.login %>
	</p>
	<p>
	  E-mail<br>
	  <%= @user.email %>
	</p>
	<p>
	  <%= f.submit "Ativar" %>
	</p>
  
<% end %>
