<% form_for @user_session, :url => user_sessions_path do |f| %>

	<h1>Login</h1>

	<p>
		Login<br>
		<%= f.text_field :login %>	  
	</p>
	<p>
		Senha<br>
		<%= f.password_field :password %><br />
	</p>
	<p>
	   <%= f.submit "Entrar" %> | 
	   <%= link_to "esqueci a senha", new_password_reset_path %>
	</p>

<% end %>
